@use './reset';
@use './fonts';

:root {
  --primary-color-500: hsl(25, 97%, 53%);
  --neutral-color-100: hsl(0, 100%, 100%);
  --neutral-color-500: hsl(217, 12%, 63%);
  --neutral-color-700: hsl(215, 18%, 19%);
  --neutral-color-900: hsl(213, 19%, 18%);
  --neutral-color-900: hsl(215.29 23.29% 14.31%);
  --neutral-color-950: hsl(216, 12%, 8%);

  --bg-color: var(--neutral-color-950);
  --text-color: var(--neutral-color-100);

  --font-family: "Overpass", sans-serif;
}

::selection {
  color: var(--primary-color-500);
  background-color: var(--bg-color);
}

body {
  font-family: var(--font-family);
  font-weight: 400;
  line-height: 1.5;
  color: var(--text-color);
  background-color: var(--bg-color);
}

.sr-only {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 0.0625rem;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 0.0625rem;
}

.main {
  --content-max-width: 25.875rem;
  --offset-inline: 1.5rem;

  display: grid;
  place-items: center;
  place-content: center;
  min-height: 100svh;

  width: min(var(--content-max-width), 100% - (var(--offset-inline) * 2));
  margin-inline: auto;
}

.rating-card {
  display: grid;
  gap: 1rem;

  padding: 1.5rem 1.5rem 1.875rem;
  border-radius: 1rem;
  color: var(--neutral-color-100);
  background-color: var(--neutral-color-900);

  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    background-color: var(--neutral-color-700);

    & svg {
      width: 0.875rem;
      height: 0.8125rem;
    }
  }

  &__title {
    font-size: clamp(1.5rem, 4vw, 1.75rem);
  }

  &__descr {
    margin-block-end: 0.625rem;
    font-size: clamp(0.875rem, 4vw, 0.9375rem);
    color: var(--neutral-color-500);
  }
}

.rating-form {
  display: grid;
  gap: 1.5rem;

  &__list {
    display: grid;
    gap: 1rem;
    grid-auto-flow: column;
  }

  &__list-item {
    counter-increment: rating;
  }

  &__radio {
    appearance: none;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 2.5rem;
    height: 2.5rem;
    background-color: var(--neutral-color-700);
    box-shadow: 0.125rem 0.0625rem 0.3125rem var(--neutral-color-900);
    border-radius: 50%;
    cursor: pointer;
    will-change: scale;
    transition: background-color .5s,
      outline-color .3s,
      outline-offset .2s,
      scale .4s ease-out;

    @media (any-hover: hover) {
      &:hover {
        background-color: var(--primary-color-500);

        &::after {
          color: var(--neutral-color-900);
        }
      }
    }

    &.hasActive:focus,
    &:focus-visible {
      outline: 0.125rem solid var(--primary-color-500);
      outline-offset: 0.25rem;
    }

    &:active {
      transition: scale .1s ease-out;
      scale: .95;
    }

    &:checked {
      background-color: var(--neutral-color-100);

      &::after {
        color: var(--neutral-color-900);
      }
    }

    &::after {
      content: counter(rating);
      font-weight: 700;
      color: var(--neutral-color-500);
    }
  }

  &__submit {
    padding: 0.75rem;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 2rem;
    color: var(--neutral-color-950);
    background-color: var(--primary-color-500);
    will-change: scale;
    transition: background-color .5s,
      outline-color .3s,
      outline-offset .2s,
      scale .3s ease-in;

    @media (any-hover: hover) {
      &:hover {
        background-color: var(--neutral-color-100);
      }
    }

    &:focus-visible {
      outline: 0.125rem solid var(--neutral-color-100);
      outline-offset: 0.25rem;
    }

    &:active {
      transition: scale .2s ease-out;
      scale: .95;
    }
  }
}

.dialog {
  --content-max-width: 25.875rem;
  --offset-inline: 1.5rem;
  position: fixed;
  inset: 0;
  width: min(var(--content-max-width), 100% - (var(--offset-inline) * 2));
  margin: auto;
  padding: 1.5rem 1.5rem 1.875rem;
  text-align: center;
  border-radius: 1rem;
  color: var(--neutral-color-100);
  background-color: var(--neutral-color-900);

  &[open] {
    animation: slideIn 0.6s forwards;
  }

  &__wrapper {
    padding-block: 1rem;
  }

  &__img {
    margin-block-end: 1.25rem;
    user-select: none;
  }

  &__result {
    width: fit-content;
    margin-inline: auto;
    margin-block-end: 1.875rem;
    padding: 0.3125rem 0.9375rem;
    border-radius: 2rem;
    color: var(--primary-color-500);
    background-color: var(--neutral-color-700);
  }

  &__title {
    margin-block-end: 1.25rem;
  }

  &__descr {
    color: var(--neutral-color-500);
  }
}

.error {
  &[hidden="true"] {
    display: none;
  }
}

@keyframes slideIn {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }

  35% {
    transform: translateY(-10px);
    opacity: 1;
  }

  100% {
    transform: translateY(0);
  }
}

@media (width > 48rem) {
  .rating-card {
    gap: 1.5rem;

    &__icon {
      width: 3.125rem;
      height: 3.125rem;
    }
  }

  .rating-card,
  .dialog {
    padding: 2rem 2rem 1.875rem;
    border-radius: 2rem;
  }

  .rating-form__radio {
    width: 3.125rem;
    height: 3.125rem;
  }

  .dialog {
    &__img {
      margin-block-end: 2rem;
    }
  }
}